{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}add-products{% endblock title %}

{% block content %}

<div class="wrapper">
    {% include "include/navbar.html" %}
    <div class="page-wrap">
        {% include "include/sidebar.html" %}
        <div class="main-content">
            <div class="container-fluid">
                <!-- Item Icon Header -->
                <div class="page-header">
                    <div class="row align-items-end">
                        <div class="col-lg-8">
                            <div class="page-header-title">
                                <i class="ik ik-list bg-blue"></i>
                                <div class="d-inline">
                                    <h5>Create Product</h5>
                                    <span>Add new products to your inventory with ease.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <nav class="breadcrumb-container" aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="{% url 'product_app:dashboard' %}"><i class="ik ik-home"></i></a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        <a href="{% url 'product_app:dashboard' %}">Home</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">Products</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
                <!-- End of Item Icon Header -->
                <div class="card">
                    <div class="card-header row">
                        <!-- Header -->
                    </div>
                    <div class="card-body">
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <!-- product name -->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        {{ form.name|as_crispy_field }}
                                    </div>
                                </div>
                                <!-- product category -->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        {{ form.category|as_crispy_field }}
                                    </div>
                                </div>
                                <!-- Product shelf -->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        {{ form.shelf|as_crispy_field }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!-- product barcode  -->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        {{ form.barcode|as_crispy_field }}
                                    </div>
                                </div>
                                <!-- product cost price  -->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        {{ form.cost_price|as_crispy_field }}
                                    </div>
                                </div>
                                <!-- Product selling price  -->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        {{ form.selling_price|as_crispy_field }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!-- Product Image  -->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        {{ form.image|as_crispy_field }}
                                    </div>
                                </div>
                                <!-- Quantity in stock  -->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        {{ form.quantity_in_stock|as_crispy_field }}
                                    </div>
                                </div>
                                <!-- Unit of measurement of the product  -->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        {{ form.unit_of_measurement|as_crispy_field }}
                                    </div>
                                </div>
                            </div>
                            <!-- Description -->
                            <div class="row">
                                <!-- Product Description -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form.description|as_crispy_field }}
                                    </div>
                                </div>
                                <!-- product expiry date  -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form.expiry_date|as_crispy_field }}
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-block btn-success" id="submit-btn">Save</button>
                        </form>
                    
                    </div>
                </div>
            </div>
        </div>

        <!-- footer -->
        {% include "include/footer.html" %}
    </div>
</div>

{% endblock content %}