{% extends "accounts_base.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %}Password Reset{% endblock title %}

{% block content %}
<div class="main">
    <main class="content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="card mt-5">
                        <div class="card-body">
                            {% if validlink %}
                                <h2 class="card-title mb-4">Set New Password <i class="fa fa-lock"></i></h2>
                                <form action="" method="post">
                                    {% csrf_token %}
                                    {{ form|crispy }}
                                    <button type="submit" class="btn btn-success btn-block" id="submit-btn">Reset Password</button>
                                </form>
                            {% else %}
                                <h2 class="card-title mb-4">Invalid Link</h2>
                                <p class="card-text">The password reset link is invalid or has already been used. Please request a new password reset.</p>
                                <a href="{% url 'password_reset' %}" class="btn btn-primary btn-block">Request New Password Reset</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

</div>



<style>
    .bgcolor
        {
            background-image: linear-gradient(
            rgba(255, 255, 0, 0.5),
            rgba(0, 0, 255, 0.5)
        ), 
        }
    main {
        /* Background gradient and images */
        background-image: linear-gradient(
            rgba(255, 255, 0, 0.5),
            rgba(0, 0, 255, 0.5)
        ),
        url("{% static 'img/sms_logo.png' %}"), /* First image */
        url("{% static 'img/sms_logo.png' %}"); /* Second image */

        /* Background positioning */
        background-position:
            left top, /* Gradient background */
            left 1em top 5%, /* First image */
            right 10em bottom -5em; /* Second image */

        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: auto, /* Gradient background size */
            26em auto, /* First image size (adjusted for larger size) */
            13em auto; /* Second image size */

        /* Ensure the first image is transparent */
        opacity: 0.9;
    }
</style>
{% endblock content %}
