{% extends "base.html" %}
{% block title %}{% endblock title %}

{% block content %}

<div class="wrapper">
    {% include "include/navbar.html" %}
    <div class="page-wrap">
        {% include "include/sidebar.html" %}
        <div class="main-content">
            <div class="container-fluid">
            {% include "include/header.html" %}
                <div class="card">
                    <div class="card-header row">
                        <div class="col col-sm-3">
                           <button class="btn btn-sm btn-primary">Add to cart</button>
                        </div>
                    </div>
                    <div class="card-body">
                        
                    </div>
                </div>
            </div>
        </div>

        <!-- footer -->
        {% include "include/footer.html" %}
    </div>
</div>

{% endblock content %}


