<div class="app-sidebar colored">
    <div class="sidebar-header">
        <a class="header-brand" href="{% url 'product_app:dashboard' %}">
            {% comment %} <div class="logo-img">
               <img src="src/img/brand-white.svg" class="header-brand-img" alt="lavalite"> 
            </div> {% endcomment %}
            <span class="text">TrackPoint</span>
        </a>
        <button type="button" class="nav-toggle"><i data-toggle="expanded" class="ik ik-toggle-right toggle-icon"></i></button>
        <button id="sidebarClose" class="nav-close"><i class="ik ik-x"></i></button>
    </div>
    
    <div class="sidebar-content">
        <div class="nav-container">
            <nav id="main-menu-navigation" class="navigation-main">
                <div class="nav-lavel">Dashboard</div>
                <!-- Dashboard -->
                <div {% if request.resolver_match.view_name == 'product_app:dashboard' %}  class="nav-item active" {% else %} class="nav-item" {% endif %}>
                    <a href="{% url 'product_app:dashboard' %}"><i class="ik ik-bar-chart-2"></i><span>Dashboard</span></a>
                </div>
                <!-- Products List -->
                <div class="nav-lavel">Products</div>
                <!-- Add new product -->
                <div {% if request.resolver_match.view_name == 'product_app:add-product' %}  class="nav-item active" {% else %} class="nav-item" {% endif %}>
                    <a href="{% url 'product_app:add-product' %}"><i class="ik ik-plus"></i><span>Add New Product</span></a>
                </div>
                <!-- View All Products -->
                <div {% if request.resolver_match.view_name == 'product_app:product-list' %}  class="nav-item active" {% else %} class="nav-item" {% endif %}>
                    <a href="{% url 'product_app:product-list' %}"><i class="ik ik-list"></i><span>View All Products</span></a>
                </div>
                <!-- Categories -->
                <div {% if request.resolver_match.view_name == 'product_app:list-category' or request.resolver_match.view_name == 'product_app:create-category'%} class="nav-item active" {% else %} class="nav-item" {% endif %} >
                    <a href="{% url 'product_app:list-category' %}"><i class="ik ik-layers"></i><span>Categories</span></a>
                </div>
                <!-- Stock Level -->
                <div class="nav-item has-sub">
                    <a href="#"><i class="ik ik-box"></i><span>Stock Levels</span></a>
                    <div class="submenu-content">
                        <a href="pages/ui/alerts.html" class="menu-item">Low Stock</a>
                        <a href="pages/ui/badges.html" class="menu-item">Out of Stock</a>

                    </div>
                </div>

                <!-- Inventory section -->
                <div class="nav-lavel">Inventory</div>
                <!-- Manage Inventory -->
                <div class="nav-item">
                    <a href="index.html"><i class="ik ik-link-2"></i><span>Stock Adjustment</span></a>
                </div>
                <div class="nav-item">
                    <a href="index.html"><i class="ik ik-repeat"></i><span>Stock Transfers</span></a>
                </div>
                <div class="nav-item">
                    <a href="index.html"><i class="ik ik-rotate-cw"></i><span>Reorder Management</span></a>
                </div>
                <div class="nav-item">
                    <a href="index.html"><i class="ik ik-activity"></i><span>Stock History</span></a>
                </div>
                <!-- Suppliers -->
                <div class="nav-lavel">Suppliers</div>
                <div class="nav-item">
                    <a href="pages/form-picker.html"><i class="ik ik-user"></i><span>Add New Supplier</span></a>
                </div>
                <div class="nav-item">
                    <a href="pages/form-picker.html"><i class="ik ik-user-plus"></i><span>Manage Suppliers</span></a>
                </div>
                <div class="nav-item has-sub">
                    <a href="#"><i class="ik ik-briefcase"></i><span>Purchase Order</span></a>
                    <div class="submenu-content">
                        <a href="pages/ui/alerts.html" class="menu-item">Create Purchase Orders</a>
                        <a href="pages/ui/badges.html" class="menu-item">Track Purchase Orders</a>
                    </div>
                </div>
                <!-- Sales -->
                <div class="nav-lavel">Sales</div>
                <!-- View Sales -->
                <div class="nav-item">
                    <a href="pages/table-bootstrap.html"><i class="ik ik-credit-card"></i><span>View Sales</span></a>
                </div>
                <!-- Create Sales Order -->
                <div class="nav-item">
                    <a href="pages/table-datatable.html"><i class="ik ik-check-circle"></i><span>Create Sales Orders</span></a>
                </div>
                <!-- Sales Reports -->
                <div class="nav-item">
                    <a href="pages/table-datatable.html"><i class="ik ik-calendar"></i><span>Sales Reports</span></a>
                </div>

                <!-- Customers  -->
                <div class="nav-lavel">Customers</div>
                <div class="nav-item">
                    <a href="pages/table-datatable.html"><i class="ik ik-user"></i><span>Add New Customer</span></a>
                </div>
                <!-- Manage Customers -->
                <div class="nav-item">
                    <a href="pages/table-datatable.html"><i class="ik ik-user-plus"></i><span>Manage Customers</span></a>
                </div>
                <!-- Customer Orders -->
                <div class="nav-item">
                    <a href="pages/table-datatable.html"><i class="ik ik-calendar"></i><span>Customer Orders</span></a>
                </div>

                <!-- Reports -->
                <div class="nav-lavel">Reports</div>
                <!-- Stock Reports -->
                <div class="nav-item">
                    <a href="pages/calendar.html"><i class="ik ik-calendar"></i><span>Stock Reports</span></a>
                </div>
                <!-- Sales Reports -->
                <div class="nav-item">
                    <a href="pages/taskboard.html"><i class="ik ik-calendar"></i><span>Sales Reports</span></a>
                </div>
                <!-- Purchase Reports -->
                <div class="nav-item">
                    <a href="pages/taskboard.html"><i class="ik ik-calendar"></i><span>Purchase Reports</span></a>
                </div>
                <!-- Porfit and Loss Report -->
                <div class="nav-item">
                    <a href="pages/taskboard.html"><i class="ik ik-calendar"></i><span>Profit and Loss</span></a>
                </div>
                <!-- Custom Reports -->
                <div class="nav-item">
                    <a href="pages/taskboard.html"><i class="ik ik-calendar"></i><span>Custom Reports</span></a>
                </div>
                <!-- Settings -->
                <div class="nav-lavel">Settings</div>
                <!-- User Management -->
                <div class="nav-item has-sub">
                    <a href="#"><i class="ik ik-lock"></i><span>User Management</span></a>
                    <div class="submenu-content">
                        <a href="pages/login.html" class="menu-item">Add User</a>
                        <a href="pages/register.html" class="menu-item">View Users</a>
                    </div> 
                </div>
                <!-- Tax Settings -->
                <div class="nav-item">
                    <a href="pages/taskboard.html"><i class="ik ik-dollar-sign"></i><span>Tax Settings</span></a>
                </div>
                <!-- Currency Settings -->
                <div class="nav-item">
                    <a href="pages/taskboard.html"><i class="ik ik-globe"></i><span>Currency Settings</span></a>
                </div>
                <!-- Notification Settings -->
                <div class="nav-item">
                    <a href="pages/taskboard.html"><i class="ik ik-slash"></i><span>Notification Settings</span></a>
                </div>
                <!-- Inventory Settings -->
                <div {% if request.resolver_match.view_name == 'inventory_app:inventory-create' %}  class="nav-item active" {% else %} class="nav-item" {% endif %}>
                    <a href="{% url 'inventory_app:inventory-create' %}"><i class="ik ik-settings"></i><span>Inventory Settings</span></a>
                </div>


                <!-- Notification -->
                <div class="nav-lavel">Notification</div>
                <div class="nav-item has-sub">
                    <a href="#"><i class="ik ik-bell"></i><span>Notification</span></a>
                    <div class="submenu-content">
                        <a href="pages/login.html" class="menu-item">Low-Stock Alerts</a>
                        <a href="pages/register.html" class="menu-item">Expired or Near</a>
                        <a href="pages/register.html" class="menu-item">Pending Purchase</a>
                        <a href="pages/register.html" class="menu-item">Pending Sales Orders</a>
                    </div> 
                </div>
                <!-- Help & Support -->
                <div class="nav-lavel">Help & Support</div>
                <!-- User Guide -->
                <div class="nav-item">
                    <a href=""><i class="ik ik-monitor"></i><span>User Guide</span></a>
                </div>
                <!-- Contact Support -->
                <div class="nav-item">
                    <a href=""><i class="ik ik-help-circle"></i><span>Contact Support</span></a>
                </div>
                <!-- FAQs -->
                <div class="nav-item" style="margin-bottom:10%;">
                    <a href=""><i class="ik ik-help-circle"></i><span>FAQs</span></a>
                </div>
            </nav>
        </div>
    </div>
</div>